<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello Tomorrow/UK</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>
      <div class="row">
        <div class="large-3 columns">
       <h1><img src="/images/brand.jpg"  height="65" width="65"/></h1>
        </div>
        <div class="large-9 columns">
          <ul class="right button-group">
          <li><a href="http://fly4.emirates.com/CAB/IBE/SearchAvailability.aspx" class="button">Book Now</a></li>
        
          </ul>
         </div>
       </div>
      
      <div class="row">
        <div class="large-12 columns">
        <div id="slider">
          <img src="/images/London.jpg" height="300" width="1000"/>
        
        </div>
        
        <hr/>
        </div>
      </div>
    </div>
      
     
     
      <div class="row">
        <div class="large-4 columns">
          <img src="/images/london1.jpg"/>
          <h4>Royalty</h4>
          <p>Explore the centuries old traditions on display.</p>
        </div>
        
        <div class="large-4 columns">
          <img src="/images/london2.jpg"/>
          <h4>Big Ben</h4>
          <p>Marvel at the engineering accomplishments of the past.</p>
        </div>
        
        <div class="large-4 columns">
          <img src="/images/london3.jpg"/>
          <h4>London Eye</h4>
          <p>Fun for all age groups!.</p>
        </div>
      
        </div>
        
     
    <div class="row">
        <div class="large-12 columns">
       
            </div>
          </div>
          
        </div>
      </div>
     
       
      
      <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p>© The Peanut Gallery</p>
            </div>
            <div class="large-6 columns">
             
            </div>
          </div>
        </div> 
      </footer>
  </body>
</html>
